.container {
  margin-left: unset;

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 1630px;
  }
}

.container__wrap {
  @include directify($directions) {
    #{directed('padding-left')}: 0px;
  }
  //padding-top: 65px; // eunbin
  padding-top: 90px;
  min-height: 100vh;
  transition: padding-left 0.3s;

  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }

  @media screen and (min-width: 576px) {
    @include directify($directions) {
      //#{directed('padding-left')}: 250px; // Origin
      // Content 의 왼쪽 Padding (card view 등)
      #{directed('padding-left')}: 210px; // [23June2020,khlee]
    }
    overflow-x: hidden; // (15jun2020,ebjee) sidebar top width error
  }
}

.layout {

  &.layout--collapse {

    & + .container__wrap {
      @include directify($directions) {
        #{directed('padding-left')}: 0px;
      }

      @media screen and (min-width: 576px) {
        @include directify($directions) {
          #{directed('padding-left')}: 60px;
        }
      }
    }
  }

  &.layout--top-navigation{

    & + .container__wrap{

      @media screen and (min-width: 576px) {
        @include directify($directions) {
          #{directed('padding-left')}: 0px;
        }
      }
    }
  }
}
