
.modal_btn {
  width: 100%;
  margin: 15px;
}

.search_card_body {
  padding: 8px;
  font-family: 'Nanum Square acEB', sans-serif;  // [22June2020,khlee]
  font-size: 9px;  // [22June2020,khlee]
/*  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  box-shadow: 0 0 1px $color-black-dep1;
  border-radius: 5px;*/
  /*background-color: #738598;*/
  /*color: $color-light-gray;*/

  /*background-color: $color-black-dep1;*/
  /*
    select {
      background: transparent;
      font-weight: bold;
      color: $color-light-gray;
      border: 1px solid #d8dfe9;

      &::-webkit-input-placeholder {
        color: $color-light-gray;
      }
      &::-moz-placeholder {
        color: $color-light-gray;
      }
      !* Firefox 19+ *!
      &:-moz-placeholder {
        color: $color-light-gray;
      }
      !* Firefox 18- *!
      &:-ms-input-placeholder {
        color: $color-light-gray;
      }

      @include themify($themes) {
        border: 1px solid themed('colorFieldsBorder');
        !*color: themed('colorText');*!
        !*color: themed('colorText');*!
      }

      option {
        color: $color-black-dep1;
      }
    }*/

  /*input {
    color: $color-light-gray;
    width: 120px;
    padding: 5px 5px;
    font-size: 9px;
    height: 16px;
    !*height: 39px;*!
    transition: border 0.3s;
    background: transparent;
    font-weight: bold;

    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }
    &::-moz-placeholder {
      color: $color-light-gray;
    }
    !* Firefox 19+ *!
    &:-moz-placeholder {
      color: $color-light-gray;
    }
    !* Firefox 18- *!
    &:-ms-input-placeholder {
      color: $color-light-gray;
    }

    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      !*color: themed('colorText');*!
    }

    &[disabled] {

      @include themify($themes) {
        background: themed('colorBackgroundBody');
      }

      &:focus, &:active {

        @include themify($themes) {
          border-color: themed('colorBorder');
        }
      }
    }

    &:focus, &:active {
      outline: none;
      border-color: $color-accent;
    }
  }*/

  input.search_input::placeholder {
    color: $color-black-dep3;
  }

  input.search_input {
    max-width: 100%;
    height: 32px;
    color: #646777;
    //border: 1px solid #f2f4f7;  // Origin
    // Modify for Dark Theme [2020.06.11 LKH]
    @include themify($themes) {
      color: themed('colorText');
      background: themed('colorBackgroundBody');
      border: 1px solid themed('colorFieldsBorder');
    }
  }

  input.search_checkbox {
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: 10px;
  }

  .search_checkboxText {
    font-size: 110%;
    font-weight: bold;
    display: inline;
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  .search_icon {
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  select.search_select {
    max-width: 100%;
    height: 32px;
    // Origin
    //color: #646777;
    //border: 1px solid #f2f4f7;

    // Modify for Dark Theme [2020.06.11 LKH]
    @include themify($themes) {
      color: themed('colorText');
      background: themed('colorBackgroundBody');
      border: 1px solid themed('colorFieldsBorder');
    }
    option {
      //color: $color-black-dep1;   // Origin
      // Modify for Dark Theme [2020.06.11 LKH]
      @include themify($themes) {
        background: themed('colorBackgroundBody');
      }
    }
  }

  h5 {
    &.search_panel__subhead {
      font-size: 10px;
      color: $color-black-dep2;
      line-height: 12px;
      font-weight: bold;
    }
  }

  .search_btn {
    border-radius: 5px;
    padding: 5px 15px;
    /* margin-left: 5px; */
    margin: 0px 5px;
    /* transition: all 0.4s; */
    font-size: 12px;
    /* position: relative; */
    /* overflow: hidden; */
    z-index: 0;
    background-color: #e7e2e2;
    border-color: #e7e2e2;
    color: #646777;
  }
}


.search_form {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  box-shadow: 0 0 1px $color-black-dep1;
  border-radius: 5px;
  // Origin
  /*background-color: #738598;*/
  //background-color: $color-black-dep1;
  // Modify for Dark Theme [2020.06.11 LKH]
  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }
  /*color: #232329;*/

  @include directify($directions) {
    text-align: directed('left');
    direction: directed('direction');
  }

  .search_btn {
    background-color: $color-white;
    color: $color-black-dep1;
    padding-top: 4px;
    cursor: pointer;
    border-radius: 0;
  }

  select {
    background: transparent;
    font-weight: bold;
    color: $color-light-gray;
    border: 1px solid #d8dfe9;

    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }

    &::-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $color-light-gray;
    }

    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      /*color: themed('colorText');*/
      /*color: themed('colorText');*/
    }

    option {
      color: $color-black-dep1;
    }
  }

  input {
    width: 120px;
    padding: 5px 10px;
    font-size: 9px;
    height: 20px;
    /*height: 39px;*/
    transition: border 0.3s;
    background: transparent;
    font-weight: bold;

    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }

    &::-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $color-light-gray;
    }

    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      color: themed('colorText');
    }

    &[disabled] {

      @include themify($themes) {
        background: themed('colorBackgroundBody');
      }

      &:focus, &:active {

        @include themify($themes) {
          border-color: themed('colorBorder');
        }
      }
    }

    &:focus, &:active {
      outline: none;
      border-color: $color-accent;
    }
  }

  h5 {
    &.search_panel__subhead {
      font-size: 10px;
      color: $color-light-gray;
      line-height: 12px;
      font-weight: bold;
    }
  }


}

/*common----------------------------------------------------------------------------------------------common*/

.col-md-12 {
  /*padding-left: 5px;*/
}

.col-lg-12 {
  /*padding-left: 5px;*/
}


/*btn----------------------------------------------------------------------------------------------------btn*/

.search_btn_span {
  cursor: pointer;
  /*float: left;*/
  color: #ffffff;
  padding: 2px 3px;
  /*border-radius: 2px;*/
  font-weight: 400;
  background-color: #6c757d;
  /*width: 18px;
  height: 17px;*/

  svg {
    width: 14px;
    height: 14px;
  }
}


/*circle----------------------------------------------------------------------------------------------circle*/
.circle-legend {
  padding: 0;
  list-style: none;
  font-size: medium;
  font-weight: bold;

  span {
    /*background-color: #2C86A2;*/
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    @include directify($directions) {
      #{directed('margin-right')}: 10px;
    }
    // didn't rtl
    margin-right: 10px;
  }

  li {
    margin-top: 5px;

    @include themify($themes) {
      color: themed('colorText');
    }
  }
}


.circle__btc {
  background-color: #e85a71;
}

.circle__eth {
  background-color: #5e62e6;
}

.circle__neo {
  background-color: #3ddb42;
}

.circle__ste {
  background-color: #4ea1d3;
}

.circle__eos {
  background-color: #6d6a6a;
}

.circle__lit {
  background-color: #b7b3b3;
}

.top_btn_black_dep2 {
  font-weight: bold;
  color: $color-white;
  background-color: $color-black-dep2;
  padding: 5px 25px;
  font-size: 12px;
  border-radius: 5%;

  &:hover {
    transition: all 0.5s;
    color: $color-black-dep2;
    background-color: $color-black-dep5;
    text-decoration: underline;
  }
}

.top_btn_black_dep3 {
  font-weight: bold;
  color: $color-white;
  background-color: $color-black-dep3;
  padding: 5px 25px;
  font-size: 12px;
  border-radius: 5%;

  &:hover {
    transition: all 0.5s;
    color: $color-black-dep3;
    background-color: $color-black-dep5;
    text-decoration: underline;
  }
}
/*assets----------------------------------------------------------------------------------------------assets*/

/*common----------------------------------------------------------------------------------------------common*/

.input_col_1 {
  width: 10%
}

.input_col_2 {
  width: 20%
}

.input_col_3 {
  width: 30%
}

.input_col_4 {
  width: 40%
}

.input_col_5 {
  width: 50%
}

.input_col_6 {
  width: 60%
}

.input_col_7 {
  width: 70%
}

.input_col_8 {
  width: 80%
}

.input_col_9 {
  width: 90%
}

.input_col_10 {
  width: 100%
}

.select_col_1 {
  width: 10%
}

.select_col_2 {
  width: 20%
}

.select_col_3 {
  width: 30%
}

.select_col_4 {
  width: 40%
}

.select_col_5 {
  width: 50%
}

.select_col_6 {
  width: 60%
}

.select_col_7 {
  width: 70%
}

.select_col_8 {
  width: 80%
}

.select_col_9 {
  width: 90%
}

.select_col_10 {
  width: 100%
}

.text_cor_green {
  //color: $color-green;
  color: $color-accent;
}

.text_cor_red {
  color: $color-red;
}

.text_cor_orange {
  color: $color-orange;
}

.mouse_over_list {
  &:hover {
    color: #d63447;
    background-color: #f6eedf;
    text-decoration: underline;
  }
}

/*
.mouse_over_input {
  &:hover {
    color: #000839;
    background-color: #ffa41b;
    text-decoration: underline;
  }
}*/

.badge_btn {
  cursor: pointer;
  padding: 3px;
  margin: 4px;
  border: 1px solid $color-gray;
}

.warringStyle {
  color: $color-red;
  font-weight: bold;
  font-size: x-small;
}

.cautionStyle {
  color: $color-dep-blue;
  font-weight: bold;
  font-size: x-small;
}

/*common----------------------------------------------------------------------------------------------common*/

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 420px) {

}
