
.modal_btn {
  width: 100%;
  margin: 15px;
}

.search_card_body {
  /*padding: 8px;*/
  font-family: 'Noto Sans KR R', Roboto, sans-serif; // [21July2020,khlee]
  font-size: 9px; // [22June2020,khlee]

  input.search_input::placeholder {
    color: $color-black-dep3;
  }

  input.search_input {
    max-width: 100%;
    height: 32px;
    color: #646777;
    //border: 1px solid #f2f4f7;  // Origin
    // Modify for Dark Theme [2020.06.11 LKH]
    @include themify($themes) {
      color: themed('colorText');
      background: themed('colorBackgroundBody');
      border: 1px solid themed('colorFieldsBorder');
    }
  }

  input.search_input-customer {
    max-width: 100%;
    height: 32px;
    color: #646777;
    border: none;
    background-color: #f2f4f7;
    @include themify($themes) {
      color: themed('colorText');
      background: themed('colorBackgroundBody');
      border: 1px solid themed('colorFieldsBorder');
    }
  }

  input.search_checkbox {
    /* Double-sized Checkboxes */
    /*    -ms-transform: scale(1.5); !* IE *!
        -moz-transform: scale(1.5); !* FF *!
        -webkit-transform: scale(1.5); !* Safari and Chrome *!
        -o-transform: scale(1.5); !* Opera *!
        transform: scale(1.5);*/
    /*padding: 10px;*/
    top: 1.5px;
    position: relative;
  }

  .search_checkboxText {
    font-weight: bold;
    display: inline;
    top: -1.5px;
    position: relative;
    //padding-left: 5px;
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  .search_icon {
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  select.search_select {
    max-width: 100%;
    height: 32px;
    // Origin
    //color: #646777;
    //border: 1px solid #f2f4f7;

    // Modify for Dark Theme [2020.06.11 LKH]
    @include themify($themes) {
      color: themed('colorText');
      background: themed('colorBackgroundBody');
      border: 1px solid themed('colorFieldsBorder');
    }

    option {
      //color: $color-black-dep1;   // Origin
      // Modify for Dark Theme [2020.06.11 LKH]
      @include themify($themes) {
        background: themed('colorBackgroundBody');
      }
    }
  }

  h5 {
    &.search_panel__subhead {
      font-size: 10px;
      color: $color-black-dep2;
      line-height: 12px;
      font-weight: bold;
    }
  }

  .search_btn {
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 12px;
    z-index: 0;
    /*background-color: #e7e2e2;
    border-color: #e7e2e2;
    color: #646777;*/
  }

  .search_card_body_sub {
    /*border: 1px dotted #006a71;*/
    /*padding-left: 8px;*/
    /*border-radius: 5px;*/
    /*box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);*/
    width: fit-content;
    display: inline-block;
    padding: 10px 5px 0 0;
  }

  .search_card_body_checkbox {
    /*border: 1px dotted #006a71;*/
    /*width: fit-content;
    display: inline-block;
    padding-left: 15px;*/
    display: flex;
    margin: 5px 0 0 20px;

    span {
      vertical-align: top;
      line-height: 18px;
    }
  }
}


.search_form {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  box-shadow: 0 0 1px $color-black-dep1;
  border-radius: 5px;
  // Origin
  /*background-color: #738598;*/
  //background-color: $color-black-dep1;
  // Modify for Dark Theme [2020.06.11 LKH]
  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }
  /*color: #232329;*/

  @include directify($directions) {
    text-align: directed('left');
    direction: directed('direction');
  }

  .search_btn {
    background-color: $color-white;
    color: $color-black-dep1;
    padding-top: 4px;
    cursor: pointer;
    border-radius: 0;
  }

  select {
    background: transparent;
    font-weight: bold;
    color: $color-light-gray;
    border: 1px solid #d8dfe9;

    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }

    &::-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $color-light-gray;
    }

    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      /*color: themed('colorText');*/
      /*color: themed('colorText');*/
    }

    option {
      color: $color-black-dep1;
    }
  }

  input {
    width: 120px;
    padding: 5px 10px;
    font-size: 9px;
    height: 20px;
    /*height: 39px;*/
    transition: border 0.3s;
    background: transparent;
    font-weight: bold;

    &::-webkit-input-placeholder {
      color: $color-light-gray;
    }

    &::-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 19+ */
    &:-moz-placeholder {
      color: $color-light-gray;
    }

    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: $color-light-gray;
    }

    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      color: themed('colorText');
    }

    &[disabled] {

      @include themify($themes) {
        background: themed('colorBackgroundBody');
      }

      &:focus, &:active {

        @include themify($themes) {
          border-color: themed('colorBorder');
        }
      }
    }

    &:focus, &:active {
      outline: none;
      border-color: $color-accent;
    }
  }

  h5 {
    &.search_panel__subhead {
      font-size: 10px;
      color: $color-light-gray;
      line-height: 12px;
      font-weight: bold;
    }
  }


}

/*common----------------------------------------------------------------------------------------------common*/

.col-md-12 {
  /*padding-left: 5px;*/
}

.col-lg-12 {
  /*padding-left: 5px;*/
}


/*btn----------------------------------------------------------------------------------------------------btn*/

.search_btn_span {
  cursor: pointer;
  /*float: left;*/
  color: #ffffff;
  padding: 2px 3px;
  /*border-radius: 2px;*/
  font-weight: 400;
  background-color: #6c757d;
  /*width: 18px;
  height: 17px;*/

  svg {
    width: 14px;
    height: 14px;
  }
}


/*circle----------------------------------------------------------------------------------------------circle*/
.circle-legend {
  padding: 0;
  list-style: none;
  font-weight: bold;
  margin: 5px 0 0 20px;

  @include themify($themes) {
    color: themed('colorText');
  }

  span {
    /*background-color: #2C86A2;*/
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    // didn't rtl
    /*margin-right: 10px;*/
  }

  li {
    margin-top: 5px;

    @include themify($themes) {
      color: themed('colorText');
    }
  }

  .circle__text {
    width: auto;
    vertical-align: top;
    line-height: 18px;
    margin-right: 12px;
  }
}


.circle__btc {
  background-color: #e85a71;
}

.circle__eth {
  background-color: #5e62e6;
}

.circle__neo {
  background-color: #3ddb42;
}

.circle__ste {
  background-color: #4ea1d3;
}

.circle__eos {
  background-color: #6d6a6a;
}

.circle__lit {
  background-color: #b7b3b3;
}

.top_btn_black_dep2 {
  font-weight: bold;
  color: $color-white;
  background-color: $color-black-dep2;
  padding: 5px 25px;
  font-size: 12px;
  border-radius: 5%;

  &:hover {
    transition: all 0.5s;
    color: $color-black-dep2;
    background-color: $color-black-dep5;
    text-decoration: underline;
  }
}

.top_btn_black_dep3 {
  font-weight: bold;
  color: $color-white;
  background-color: $color-black-dep3;
  padding: 5px 25px;
  font-size: 12px;
  border-radius: 5%;

  &:hover {
    transition: all 0.5s;
    color: $color-black-dep3;
    background-color: $color-black-dep5;
    text-decoration: underline;
  }
}

/*assets----------------------------------------------------------------------------------------------assets*/

/*common----------------------------------------------------------------------------------------------common*/

.font_7 {
  font-size: 7px;
}

.font_8 {
  font-size: 8px;
}

.font_9 {
  font-size: 9px;
}

.input_col_1 {
  width: 10%
}

.input_col_2 {
  width: 20%
}

.input_col_3 {
  width: 30%
}

.input_col_4 {
  width: 40%
}

.input_col_5 {
  width: 50%
}

.input_col_6 {
  width: 60%
}

.input_col_7 {
  width: 70%
}

.input_col_8 {
  width: 80%
}

.input_col_9 {
  width: 90%
}

.input_col_10 {
  width: 100%
}

.select_col_1 {
  width: 10%
}

.select_col_2 {
  width: 20%
}

.select_col_3 {
  width: 30%
}

.select_col_4 {
  width: 40%
}

.select_col_5 {
  width: 50%
}

.select_col_6 {
  width: 60%
}

.select_col_7 {
  width: 70%
}

.select_col_8 {
  width: 80%
}

.select_col_9 {
  width: 90%
}

.select_col_10 {
  width: 100%
}

.text_cor_accent {
  //color: $color-green;
  color: $color-accent;
}

.text_cor_red {
  color: $color-red;
}

.text_cor_orange {
  color: $color-orange;
}

.text_cor_btc {
  color: #e85a71;
}

.text_cor_eth {
  color: #5e62e6;
}

.text_cor_neo {
  color: #3ddb42;
}

.text_cor_ste {
  color: #4ea1d3;
}

.text_cor_mat_p {
  /*color: $color-materal-primary;*/
  @include themify($themes) {
    color: themed('colorMateralPrimaryText');
  }
}

.mouse_over_list {
  color: #646777;
  &:hover {
    color: $color-materal-secondary;
    background-color: #f6eedf;
    text-decoration: underline;
  }
}

/*
.mouse_over_input {
  &:hover {
    color: #000839;
    background-color: #ffa41b;
    text-decoration: underline;
  }
}*/

.badge_btn {
  cursor: pointer;
  padding: 3px;
  margin: 4px;
  border: 1px solid $color-gray;
}

.warringStyle {
  color: $color-red;
  font-weight: bold;
  font-size: smaller;
  padding-left: 5px;
  line-height: 32px;
}

.cautionStyle {
  font-weight: bold;
  font-size: smaller;
  line-height: 32px;
  padding-left: 5px;
  @include themify($themes) {
    color: themed('colorFitness');
  }
}

.cautionStyle-add {
  /*color: #f2f4f7;*/
  font-weight: bold;
  font-size: smaller;
  line-height: 25px;
  padding-left: 5px;
  //colorFitness
  @include themify($themes) {
    color: themed('colorFitness');
  }
}

/*(30jun2020,ebjee)*/
/*topbtn-------------------------------------------------------------------------------------------*/

.top_btn_area {
  width: 100%;
  font-size: smaller;

  span {
    font-size: smaller;
    @include themify($themes) {
      color: themed('colorFitness');
    }
  }

  &.assets_top {
    margin-bottom: 15px;
  }
}

/*topbtn-------------------------------------------------------------------------------------------*/


// (04july2020,ebjee) -> 나중에 사용할 ....
:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: 'Lato', sans-serif;
  --height: 30px;
  --btn-width: 2rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.div-schText {
  position: relative;
  width: 10rem;
  /*background: var(--color-brand);*/
  border-radius: 5px;
  /*@include themify($themes) {
    background: themed('colorBackgroundBody');
  }*/

  input {
    height: var(--height);
    font-family: var(--font-fam);
    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      color: themed('colorText');
    }
  }

  button {
    height: var(--height);
    font-family: var(--font-fam);
    color: var(--color-dark);
    border: none;
    @include themify($themes) {
      color: themed('colorText');
    }
  }

  input[type="search"] {
    outline: 0; // <-- shold probably remove this for better accessibility, adding for demo aesthetics for now.
    width: 100%;
    /*background: var(--color-light);*/
    padding: 0 1rem;
    /*border-radius: var(--rad);*/
    border-radius: 5px;
    appearance: none; //for iOS input[type="search"] roundedness issue. border-radius alone doesn't work
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
    @include themify($themes) {
      border: 1px solid themed('colorFieldsBorder');
      /*background: themed('colorBackgroundBody');*/
    }
  }

  button {
    display: none; // prevent being able to tab to it
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    font-weight: bold;
    /*background: var(--color-brand);*/
    border-radius: 0 5px 5px 0;
    @include themify($themes) {
      background: themed('colorHeaderDataPicker');
    }
  }

  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

    + button {
      display: block;
    }
  }

  label {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
}

.filebox {
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  label {
    font-size: 10px;
    display: inline-block;
    padding: .8em .75em;
    margin: 5px;
    color: #999;
    /*font-size: inherit;*/
    line-height: normal;
    /*vertical-align: middle;*/
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
  }

  .upload-name {
    display: inline-block;
    padding: 1em .75em; /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    /*vertical-align: middle;*/
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    width: calc(100% - 15%);
  }
}

/*

.error {
  width: 100%;
  background: $explorer-img no-repeat 50% 50% fixed;

  . explorer_warring-img {
    width: calc(100% - 15%);
    height: calc(100% - 15%);
    margin: auto 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
    background-size: contain;
    background-image: $explorer-img;
    // http://127.0.0.1:4000/static/media/cb_logo_light.9b7adb19.png
  }
}
*/
/*

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  background-image: $explorer-img;
  background-color: #6db0ff;
}
*/
#bg {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

img.bg { /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px; /* Set up proportionate scaling */
  width: 100%;
  height: auto; /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  background-image: $explorer-img;
}

.bgimg {
  border: 0;
  padding: 0;
  background-image: $explorer-img;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}


/*common-------------------------------------------------------------------------------------------common*/

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 420px) {

}
