//font-family [2020-06-08 byeonghwa jung]
@font-face { font-family: 'Nanum BarunGothic'; src: url(../fonts/Nanum/BARUNGOTHIC/NanumBarunGothic.ttf) format('truetype'); }
@font-face { font-family: 'Nanum BarunGothic Bold'; src: url(../fonts/Nanum/BARUNGOTHIC/NanumBarunGothicBold.ttf) format('truetype'); }
@font-face { font-family: 'Nanum BarunGothic Light'; src: url(../fonts/Nanum/BARUNGOTHIC/NanumBarunGothicLight.ttf) format('truetype'); }
@font-face { font-family: 'Nanum BarunGothic Ultra Light'; src: url(../fonts/Nanum/BARUNGOTHIC/NanumBarunGothicUltraLight.ttf) format('truetype'); }

@font-face { font-family: 'Nanum Square acB'; src: url(../fonts/Nanum/SQUARE/NanumSquare_acB.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square acEB'; src: url(../fonts/Nanum/SQUARE/NanumSquare_acEB.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square acL'; src: url(../fonts/Nanum/SQUARE/NanumSquare_acL.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square acR'; src: url(../fonts/Nanum/SQUARE/NanumSquare_acR.ttf) format('truetype'); }

@font-face { font-family: 'Nanum Square RoundB'; src: url(../fonts/Nanum/SQUARE_ROUND/NanumSquareRoundB.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square RoundEB'; src: url(../fonts/Nanum/SQUARE_ROUND/NanumSquareRoundB.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square RoundL'; src: url(../fonts/Nanum/SQUARE_ROUND/NanumSquareRoundB.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Square RoundR'; src: url(../fonts/Nanum/SQUARE_ROUND/NanumSquareRoundB.ttf) format('truetype'); }

@font-face { font-family: 'Nanum BarunPenR'; src: url(../fonts/Nanum/BARUNPEN/NanumBarunpenR.ttf) format('truetype'); }
@font-face { font-family: 'Nanum BarunPenB'; src: url(../fonts/Nanum/BARUNPEN/NanumBarunpenB.ttf) format('truetype'); }

@font-face { font-family: 'Nanum Gothic'; src: url(../fonts/Nanum/GOTHIC/NanumGothic.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic Bold'; src: url(../fonts/Nanum/GOTHIC/NanumGothicBold.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic Extra Bold'; src: url(../fonts/Nanum/GOTHIC/NanumGothicExtraBold.ttf) format('truetype'); }
@font-face { font-family: 'Nanum Gothic Light'; src: url(../fonts/Nanum/GOTHIC/NanumGothicLight.ttf) format('truetype'); }
