
.pieColor {
  fill: red;
}

.pieColorStroke {
  stroke: blue;
}

text.graph_label {
  font-size: medium;
  @include themify($themes) {
    fill: themed('colorText');
  }
}

.sideInfo {
  font-size: medium;
}

/*common-------------------------------------------------------------------------------------------common*/

@media screen and (max-width: 992px) {
  .sideInfo {
    font-size: xx-small;
  }
}

@media screen and (max-width: 768px) {
  .sideInfo {
    font-size: small;
  }
}

@media screen and (max-width: 420px) {
  .sideInfo {
    font-size: xx-small;
  }

}
