.recharts-text {
  @include themify($themes) {
    fill: themed('colorText');
  }
  opacity: 0.8;   // 1 => 0.8 [04Sep2020,khlee]
}

.recharts-tooltip-wrapper {

  .recharts-default-tooltip {
    @include themify($themes) {
      background: themed('colorBackgroundBody') !important;
    }
    border: 0 !important;
  }

}